// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: 14px;

// Transition
$global-transition: all .2s;


// *****************
// Color Variables
// *****************
$brand-color: #ff7b7b;
$brand-color2: #fff346;
$dark: #09080f;
$blue-dark: #17151E;
$gray: #aaa;
$light-gray: #eee;
$white: #fff;
$highlightColor: #462f45;
// Body Color
$text-color: $light-gray;

// Background Colors
$background-color: #0f0e15;


// *****************
// Typography
// *****************
$base-font-size: 14px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
$base-line-height: 1.7;

// Define monospace font
$jetbrains-mono-font-family: "JetBrains Mono", monospace;
$font-weight: 400; // Change this value as needed, e.g., 100, 200, 400, etc.
$monospace-text-color: #FB4934;

// Headings
$heading-font-weight: 900;
$heading-font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
$heading-color: $text-color;

$font-size-h1:  30px;
$font-size-h2:  24px;
$font-size-h3:  20px;
$font-size-h4:  28px;
$font-size-h5:  16px;
$font-size-h6:  15px;

$heading-line-height: 1.4em;
$heading-letter-spacing: .5px;

